@keyframes blinker {  
  50% { opacity: 0; }
}

 .Cursor--blinking{
animation: blinker 1s linear infinite;
}
.conversational-form {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    height:100%;
}

/*.conversational-form .conversational-form-inner {
    min-height: 0;
    max-height: none;
bottom: -10em;
background-color: white;
    padding-top: 100%;
    left: -10%;
        width: 119%;
}*/

cf-input textarea {
    font-size: inherit;
}


cf-chat-response {
	color:#838383;
}

.conversational-form *{
	line-height: 1;
}

cf-input textarea {
	color:#838383;
}

cf-input-control-elements.one-row cf-list {
	padding-bottom: 0.5em;
}

.ant-notification-notice-with-icon .ant-notification-notice-description, .ant-notification-notice-description{
    color:black;
    font-family:;
}

/*THEME HTML TEMPLATE CUSTOMIZATION*/

.panel .span-4-75 {
    width: 45rem;
    background:white;
    display:-webkit-inline-box;
}

/*.panel > *.color0 {
background: url(../../images/overlay.png), linear-gradient(160deg, #9ab2ab 20%, #5E9F8B)
    }*/


h1.major{
    font-weight: 300;
    letter-spacing: 0.02em;
}

h1.major:after, h2.major:after, h3.major:after{
    background: white;
}

.contentNoBorder{
    padding: 0rem;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

.panel > *.color0 {
    /*background-image: url(../../images/overlay.png), linear-gradient(160deg, #9ab2ab 20%, #5E9F8B);*/
    background-image: none;
    background-color: #239efc;
}