/*.conversational-form-inner{
  position:relative!important;
  min-height: 0!important;
  max-height: none!important;
  font-size: 14pt!important;
  
}*/

.superSmart {
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input[type=text]{
  font-size:14pt!important;
}

a{
  border-bottom:none!important;
}

.form{
  width: 45vw;
}